body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.botao {
    background-color: #ff3d7f;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 6px 0px 0px #a32751;
    text-align: center;
}

header {
    margin-bottom: -100px;
}

header h1 {
    margin: 0;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 76px;
    margin-top: 20px;
}

header h1 span {
    visibility: hidden;
}

header nav ul {
    padding-right: 0px;
    margin: 0;
    margin-top: 35px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}

header nav li:last-child {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 40px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section#topo {
    background-image: url(img/fundo.png);
    background-size: cover;
    height: 828px;
}

section#topo .chamada {
    margin-top: 220px;
    color: #fff;
    text-align: center;
}

section#topo .chamada h2 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
}

section#topo .chamada p {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}


section#conheca img {
    padding-top: 78px;
    padding-bottom: 78px;
}

section#conheca .texto_conheca {
    padding: 90px 24px 15px 78px;
}

section#conheca .texto_conheca h2 {
    font-size: 36px;
}

section#conheca .texto_conheca p {
    font-size: 24px;
    padding-bottom: 15px;
}

section#conheca a {
    width: 270px;
    font-size: 30px;
}


section#depoimento {
    background-color: #ebe8fb;
    border-top: 4px solid #511099;
    padding: 70px;
}

section#depoimento .container {
    flex-direction: column;
    align-items: center;
}

section#depoimento img {
    width: 151px;
    height: 150px;
}

section#depoimento p {
    font-size: 24px;
    text-align: center;
}


section#convite {
    background-image: url(img/fundo-convite.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

section#convite .container {
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
}

section#convite form {
    width: 70%;
    height: 80px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
    padding-top: 30px;
}

section#convite input {
    width: 75%;
    border: none;
    font-size: 24px;
    background: transparent;
    padding-left: 40px;
}

section#convite button span {
    visibility: hidden;
}

section#convite button {
    background-image: url(img/botao-convite.png);
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.1);
    width: 90px;
    height: 45px;
    border: none;
}


footer {
    margin-top: 3px;
    background-color: #2a0157;
}

footer .container {
    flex-direction: column;
    align-items: center;
    height: 91px;
}

footer .container span {
    font-size: 18px;
    padding: 30px;
    color: #fff;
    letter-spacing: 0.9;
}

@media (max-width: 600px) {
    header nav {
        display: none;
    }
    
    header h1 {
        margin: 0 auto;
        margin-top: 20px;
    }
    
    section#conheca .container {
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    section#conheca img {
        width: 80%;
        padding: 40px;
    }
    
    section#conheca .texto_conheca {
        padding: 0;
        text-align: center;
    }
    
    section#conheca .botao {
        width: 100%;
    }
    
    section#convite form {
        flex-direction: row;
    }
    
}