body {
    background-color: #242536;
    display: inline-flex;
    font-family: sans-serif;
}

aside nav#logo {
    width: 210px;
    height: 60px;
    background-color: #141524;
    background-image: url(img/nucliot-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

aside nav#logo span {
    visibility: hidden;
}

aside nav ul {
    padding-left: 0;
}

aside nav ul li {
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    list-style-type: none;
    padding-top: 25px;
}

aside nav ul li span {
    padding-left: 20px;
    text-align: center;
}

aside nav ul li img {
    padding-left: 15px;
}

aside nav ul li#comDestaque {
    background-color: #151524;
    border-left: 10px solid #ffb946;
}

aside nav ul li#semDestaque {
    margin-left: 10px;
}



section {
    width: 1160px;
    height: 600px;
    background-color: #fff;
    margin-top: 60px;
    background-color: #f5f5f5;
}

section nav#menu_superior {
    height: 50px;
    background-color: #fff;
    padding: 1px;
}

section nav ul li {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding-top: 3px;
}

section nav ul li:first-child {
    margin-right: 30px;
    padding-bottom: 15px;
    color: #ffb946;
    border-bottom: 3px solid;
}


section#formulario {
    width: 300px;
    height: 300px;
    background-color: #fff;
}